(
  selected_tab: Rgb(173,128,212), // purple #ad80d4
  command_fg: Rgb(106,108,122), // base300 #6a6c7a
  selection_bg: Rgb(75,76,88), // base400 #4b4c58
  selection_fg: Rgb(112,228,255), // sky #70e4ff
  cmdbar_bg: Rgb(41,43,60), // bg #292b3c
  cmdbar_extra_lines_bg: Rgb(41,43,60), // bg #292b3c
  disabled_fg: Rgb(106,108,122), // base300 #6a6c7a
  diff_line_add: Rgb(86,254,134), // green #56fe86
  diff_line_delete: Rgb(255,61,61), // red #ff3d3d
  diff_file_added: Rgb(158,255,185), // green100 #9effb9
  diff_file_removed: Rgb(255,132,132), // red100 #ff8484
  diff_file_moved: Rgb(255,137,219), // pink200 #ff89db
  diff_file_modified: Rgb(254,196,86), // yellow #fec456
  commit_hash: Rgb(173,128,212), // purple #ad80d4
  commit_time: Rgb(112,157,255), // blue #709dff
  commit_author: Rgb(86,254,134), // green #56fe86
  danger_fg: Rgb(255,61,61), // red #ff3d3d
  push_gauge_bg: Rgb(41,43,60), // bg #292b3c
  push_gauge_fg: Rgb(249,251,255), // fg #f9fbff
  tag_fg: Rgb(255,137,219), // pink200 #ff89db
  branch_fg: Rgb(254,196,86), // yellow #fec456
)
